<html>
  <title>{{ seed }}</title>
  <body>
    <div id="words"></div>
  </body>
  <footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.8.26/Tone.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
      integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
      crossorigin="anonymous"
    ></script>
    <script src="/static/js/script.js"></script>
    <script type="text/javascript">
      sing({{ song|safe }}, '{{ words }}');
    </script>
  </footer>
</html>
